body {
    background-color: black;
}

header, div {
    display: flex;
}
header {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: rgba(47, 73, 75, 0.9);
    padding: 5px;
}

header div {
    justify-content: end;
    margin-right: 10%;
}
header p {
    margin: 15px;
    color: white;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header img {
    width: 6%;
    margin-left: 5%;
}

/* .content {
    padding: 16px;
  }

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

.sticky + .content {
padding-top: 102px;
} */

#bestMovie {
    flex-direction: row;
    justify-content: space-around;
    background-color: #326E66;
    align-items: center;
    overflow: hidden;
    padding: 3%;
    margin: 20px 5px;
}

#bestMovie h1 {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

#bestMovie img {
    /* transform: scale(2.5, 2.5); */
    zoom: 190%;
}

#bestMovie div {
    flex-direction: column;
}

#bestMovie button {
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
    }
    
    #bestMovie button:hover {
    background-color: #0077b6;
    }

/* #bestMovie button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  } */

/* button.default {
    background-color: #3498db;
    color: #fff;
}

button.default:hover {
    background-color: #2980b9;
} */



/* Les differentes categories de films */

/* .carousel {
    flex-direction: column;
    margin: 1%;
    background-color: #579898;
    text-align: center;
    justify-content: center;
}

.carousel h2 {
    display: block;
    margin-bottom: 10px;
} */


.box {
    flex-direction: column;
}

.box h2 {
    text-align: center;
    color: white;
}

.box {
    min-height: 400px;
    display: flex;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.3); /* Gris avec une opacité de 0.5 (50%) */
}

.carousel {
justify-content: center;
align-items: center;
padding: 5px;
margin: 15px;
}

.slides-container {
display: flex;
transition: transform 0.5s ease-in-out;
}

.slide {
justify-content: center;
flex: 0 0 23%;
padding: 10px 25px 10px 25px;
/* box-sizing: border-box; */
text-align: center;
overflow: hidden;
}

/* .slide.hidden {
    display: none;
}
   */
   
.slide img {
    width: 110%;
    padding: 5px;
    filter: blur(0);
    transition: filter 0.3s;
    cursor: pointer;
}

.slide img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.slide.hidden img{
    cursor: default;
    opacity: 0.2;
    background-color: red;
    filter: blur(5px);
} 

.slide.slide.hidden img:hover {
    transform: none;
    transition: none;
}


.arrow-left, .arrow-right {
    position: absolute;
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.arrow-left{
    left: 0;
    opacity: 0.4;
    transition: all 0.3s ease;
}
.arrow-right{
    right: 0;
    opacity: 0.4;
    transition: all 0.3s ease;
}
.arrow-left:hover, .arrow-right:hover{
    transform: scale(1.1);
    opacity: 1;
    transition: all 0.3s ease;
}



/*  Fenêtre modale */

.modal-btn {
    padding: 10px 14px;
    font-size: 18px;
    margin: 100px auto;
    display: block;
    min-width: 150px;
    cursor: pointer;
}

.modal-container {
    justify-content: center;
    color: red;
}

.modal {
    /* opacity: 0; */
    display: none;
    /* display: flex; */
    flex-direction: row-reverse;
    width: 95%;
    max-width: 1000px;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -25%);
    transition: opacity 0.4s ease-in-out;
}

.modal-container.active .modal {
    /* opacity: 1; */
    display: block;
    transition: opacity  0.4s 0.2s ease-in-out;
}

.close-modal {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    /* position: absolute;
    top: 10px;
    right: 10px; */
    cursor: pointer;
    background: #ff365e;
    color: #fff;
    height: 35px;
}

#infoMovie {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: aqua;
}

#infoMovie img {
    zoom: 180%;
}

.imageInfo{
    background-color: blueviolet;
}

.infos {
    background-color: bisque;
    flex-direction: column;
}

.infos ul {
    margin-left: 0;
}

.overlay {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
    transition: opacity 0.4s 0.2s ease-out;
}
.modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}