body {
    background-color: black;
    margin: 0px;
}

header, div {
    display: flex;
}
header, footer{
    background-color: #bb2929;
}
header {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}
header div {
    justify-content: end;
    margin-right: 10%;
}
header p {
    margin: 15px;
    font-weight: 600;
    color: black;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}
header img {
    width: 6%;
    margin-left: 10%;
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 5em;
    width: auto;
    padding: 0 5em 0px 0em;
    margin-top: 10px;
}

/* Le Meilleur film */
#bestMovie {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1a1a1a;
    padding: 1em;
    margin: 10px 0px;
}
#bestMovie h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
    color: #fff;
}
#bestMovie p {
    color: #fff;
    font-size: 1.2em;
    padding: 2em 5px 0 0px;
    width: 65%;
    text-align: center;
}
#bestMovie img {
    width: 24%;
}
#bestMovie div {
    flex-direction: column;
    align-items: center;
}
#bestMovie button {
    cursor: pointer;
    background-color: #C22929;
    color: #fff;
    border: none;
    width: max-content;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px;
    font-size: 16px;
    transition: background-color 0.3s;
}
#bestMovie button:hover {
    background-color: red;
}


/* Les differentes categories de films */

.box {
    flex-direction: column;
    margin-top: 10px;
}
.box h2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: #C22929;
    letter-spacing: 3px;
    padding: 15px 0px;
}
.box {
    min-height: 400px;
    display: flex;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.2); 
}

.carousel {
justify-content: center;
align-items: center;
padding: 5px;
margin: 15px;
}

.translate-0 {
    transform: translateX(0%);
}
.translate-25 {
    transform: translateX(-25%);
}
.translate-50 {
    transform: translateX(-50%);
}
.translate-75 {
    transform: translateX(-75%);
}

.slides-container {
display: flex;
transition: transform 0.5s ease-in-out;
}
.slide {
justify-content: center;
flex: 0 0 23%;
padding: 10px 25px 10px 25px;
text-align: center;
overflow: hidden;
}
.slide img {
    width: 110%;
    padding: 5px;
    filter: blur(0);
    transition: filter 0.3s;
    cursor: pointer;
}
.slide img:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.slide.hidden img{
    cursor: default;
    opacity: 0.2;
    filter: blur(5px);
} 
.slide.slide.hidden img:hover {
    transform: none;
    transition: none;
}

.arrow-left, .arrow-right {
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 99;
    top: 12em;
}
.arrow-left{
    display: none;
    left: 0;
    opacity: 0.4;
    transition: all 0.3s ease;
}
.arrow-left.active, .arrow-right.active {
    display: flex;
}
.arrow-right{
    display: none;
    right: 0;
    opacity: 0.4;
    transition: all 0.3s ease;
}
.arrow-left:hover, .arrow-right:hover{
    transform: scale(1.1);
    opacity: 1;
    transition: all 0.3s ease;
}


/*  Fenêtre modale */

.modal-btn {
    padding: 10px 14px;
    font-size: 18px;
    margin: 100px auto;
    display: block;
    min-width: 150px;
    cursor: pointer;
}
.modal-container {

    justify-content: center;
    display: none;
    
    z-index: 999;
}
.modal {
    display: none;
    color: #fff;
    border-radius: 10px;
    background-color: #211f1f;
    width: 75%;
    padding: 30px;
    position: fixed;
    left: 50%;
    top: 50%;
    transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;
}
.modal-container.active .modal {
    transform: translate(-50%, -50%);
    display: block;
    transition: opacity 0.4s 0.2s ease-in-out;
}
.modal-container.active {
    display: block;
    position: fixed;
    left: 0;
    top: -37px;
    width: 100%;
    height: 110%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 999;
}
.modal-container.active .overlay {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}
.modal * p, .modal ul{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
.modal h2 {
    color: #C22929;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

.close-modal {
    padding: 8px 10px;
    border-color: #C22929;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    color: #C22929;
    height: 35px;
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 3em;
}
.close-modal:hover{
    background: #C22929;
    color:white;
}

#infoMovie {
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}
#infoMovie img {
    zoom: 180%;
}
.infos {
    flex-direction: column;
    padding: 0 5% 5px 5%;
    min-width: 400px;
    min-height: 40em;
    justify-content: space-evenly;
}
.infos .inline {
    align-items: baseline;
}
.infos p, .infos ul{
    margin-left: 7px;
}
.infos ul {
    padding-left: 0;
    list-style: none;
}

.firstBox, .secondBox {
    flex-direction: column;
    width: 50%;
}
.inline{display: inline-flex;
    align-items: center;
}
.description{
    max-width: 90%;
    width: 90%;
    align-items: baseline;
}

/* Fleches */
.arrow-left img, .arrow-right img{
    width: 8em;
    filter: invert(1);
}
.arrows{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
}